* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;

  background: #05030b;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}